.week-goals-card-container {
  // REMOVE WHEN FINISHING LAYOUT STYLES
  border: 1px solid black;
  /* Week Goals Card component */

position: relative;
width: 267px;
height: 310px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Group 3 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 11 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
border-radius: 10px;


/* This Week’s Goals */

position: absolute;
left: 7.87%;
right: 7.87%;
top: 6.45%;
bottom: 86.13%;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;

color: #2DBDB1;



/* edit (1) */

position: absolute;
left: 75.28%;
right: 14.98%;
top: 82.9%;
bottom: 8.71%;



/* Group */

position: absolute;
left: 75.28%;
right: 14.98%;
top: 82.9%;
bottom: 8.71%;



/* Vector */

position: absolute;
left: 75.28%;
right: 14.98%;
top: 82.9%;
bottom: 8.71%;

background: #FFFFFF;


/* edit (1) */

position: absolute;
left: 75.28%;
right: 14.98%;
top: 82.9%;
bottom: 8.71%;



/* Group */

position: absolute;
left: 75.28%;
right: 14.98%;
top: 82.9%;
bottom: 8.71%;



/* Vector */

position: absolute;
left: 75.28%;
right: 14.98%;
top: 82.9%;
bottom: 8.71%;

background: #2DBDB1;


/* 9/24 - 9/30 */

position: absolute;
left: 7.87%;
right: 37.45%;
top: 16.45%;
bottom: 77.42%;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;

color: #2DBDB1;



/* Group 2.1 */

position: absolute;
left: 7.87%;
right: 9.36%;
top: 29.35%;
bottom: 28.39%;



/* Group */

position: absolute;
left: 7.87%;
right: 9.36%;
top: 29.35%;
bottom: 28.39%;



/* • Finish Google cover letter */

position: absolute;
left: 7.87%;
right: 9.36%;
top: 29.35%;
bottom: 65.16%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #5A5A5A;



/* • Apply to Microsoft */

position: absolute;
left: 7.87%;
right: 26.59%;
top: 42.9%;
bottom: 50.32%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #5A5A5A;



/* Group */

position: absolute;
left: 7.87%;
right: 9.36%;
top: 57.74%;
bottom: 28.39%;



/* • Practice implementing */

position: absolute;
left: 7.87%;
right: 9.36%;
top: 57.74%;
bottom: 35.16%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #5A5A5A;



/* data structures */

position: absolute;
left: 12.36%;
right: 28.84%;
top: 64.52%;
bottom: 28.39%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #5A5A5A;


}