<div class="week-goals-card-container">
	<div class =rectangl1>
  <div class="header">
		<div class="title">This Week's Goals</div>
		<div class="date">{{date}}</div>
	</div>
	<div class="tasks">
		<div class="task">
			
			<div class="textone">{{g1}}</div>
		</div>
		<div class="task">
			
			<div class="texttwo">{{g2}}</div>
		</div>
		<div class="task">
			
			<div class="textthree">{{g3}}</div>
		</div>
	</div>
  <div class = 'save'> Save</div>
  <div class = 'rect2'></div>
 
	<div class='v1'></div>
	<div class='v2'></div>
	<div class='v3'></div>
</div>
</div>