@import url(//fonts.googleapis.com/css?family=Montserrat);

.week-goals-card-container {
  // REMOVE WHEN FINISHING LAYOUT STYLES
  border: 1px solid black;
  height:310px;
  width:267px;
  border-radius: 10px;


  .title{
    margin-left:21px;
    margin-top:20px;
    width:225px;
    height:23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2DBDB1;
  }

  .time_box{
    margin-left:21px;
    margin-top:8px;
    width:146px;
    height:19px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #2DBDB1;
  }

  .text_box{
    margin-left: 21px;
    margin-right: 21px;

    .lists{
      margin-top: 25px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #5A5A5A;
    }
  }
  
  .icon{
    width: 26px;
    height: 26px;
    margin-top:15px;
    margin-left:201px;
  }
}
