<!DOCTYPE html>
<html>
<head>
<style>
h1 { margin: 0;
  
}
h2{margin:0;



}

#mydiv3
{
    font-size:20px;
}
#mydiv3 a
{
    font-size:10px;
}


#mydiv
{
    font-size:20px;
}
#mydiv a
{
    font-size:10px;
}
#mydiv1
{
    font-size:20px;
}
#mydiv1 b
{
    font-size:10px;
  
}








p {
 
}
body {
  
}
</style>
</head>
<body>
<div>
<h1> Fall '18 Goals </h1>
<h2> 9/24 - 12/14</h2>


<div id="mydiv">1<a>63</a></div>

<div id="mydiv1">2<b>63</b></div>

<div id="mydiv3">3<a>63</a></div>








<p></p>
</div>
</body>
</html>
  




