@import url(//fonts.googleapis.com/css?family=Montserrat);

  * {
    font-family: Montserrat;
  }

.goals-border{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px #D3E1DA;
  border-radius: 10px;

  .header{
    .title {
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #2dbdb1;
    }

    .dates {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #2dbdb1;
    }
  }

  .taskslist{
    display:flex;
    flex-direction:column;

    .task-one{
      display:flex;
      flex-direction:row;
      .first {
          font-weight: 500;
          font-size: 36px;
          line-height: 44px;
          color: #2dbdb1;
      }
      .task1 {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #5a5a5a;
      }
    }
    .task-two{
      display:flex;
      flex-direction:row;
      .second {
          font-weight: 500;
          font-size: 36px;
          line-height: 44px;
          color: #2dbdb1;
      }
      .task2 {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #5a5a5a;
      }
    }

    .task-three{
      display:flex;
      flex-direction:row;
      .third {
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        color: #2dbdb1;
      }
      .task3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #5a5a5a;
      }
    }

  }
}