
<div>
  <p class = "fall" >Fall '18 Goals</p>
  <p class = "date"> 9/24  - 12/14</p>
 <!-- <p class = "one" style = "allign:left">1 </p> -->
  <p style="left: 9.81%;
right: 83.77%;
top: 27.1%;
bottom: 63.23%;
display:inline;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-align: left;

color: #2DBDB1;">
  1
  <span style="color: #ff0000
left: 25.28%;
right: 8.56%;
top: 30.65%;
bottom: 56.13%;
display:inline;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #5A5A5A;">Finish cover letters</span>

</p>
 

  <p style="left: 9.81%;
right: 83.77%;
top: 27.1%;
bottom: 63.23%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-align: Left;

color: #2DBDB1;">
  2
  <span style="color: #ff0000
left: 25.28%;
right: 8.56%;
top: 30.65%;
bottom: 56.13%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #5A5A5A;">Apply to at least 50 internsips</span>

</p>
  <p style="left: 9.81%;
right: 83.77%;
top: 27.1%;
bottom: 63.23%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 44px;
text-align: left;

color: #2DBDB1;">
  3
  <span style="color: #ff0000
left: 25.28%;
right: 8.56%;
top: 30.65%;
bottom: 56.13%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #5A5A5A;">Finish technical interview</span>

</p>
<img src="https://icongr.am/fontawesome/pencil.svg?color=2DBDB1">
</div>

<style>
  .fall{
left: 9.81%;
right: 5.28%;
top: 6.13%;
bottom: 86.13%;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;

color: #2DBDB1;
  }

.date{
left: 9.81%;
right: 35.09%;
top: 16.45%;
bottom: 77.42%;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;

color: #2DBDB1;
}

img{

float:right;

}

  </style>