<div class ="new-quarter-container">
  <div class = "Goals"><b>Fall '18 Goals</b></div>
  <div class = "Date"> 9/24-12/14 </div>
  <div class = "push"> </div>
  <div> <span class = "One"> 1 </span> <span class = "Goal1"> Finish cover letters</span></div>
  <div> <span class = "Two"> 2 </span> <span class = "Goal2"> Apply to at least 50 internships </span></div>
  <div> <span class = "Three"> 3 </span> <span class = "Goal3"> Finish technical interview prep</span> </div>










</div>