.quarter-goals-card-container {
  // REMOVE WHEN FINISHING LAYOUT STYLES
  border: 1px solid black;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.Quarter{
  width: 265px;
  height: 310;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px #D3E1DA;
  border-radius: 10px;
  .title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2DBDB1;
  }
  .date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #2DBDB1;
  }
  .number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #2DBDB1;
  }
  .text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5A5A5A;
    &.text2{
      line-height: 154%;
      /* or 25px */
    }
  }
} 