@import url(//fonts.googleapis.com/css?family=Montserrat);
@import url(//fonts.googleapis.com/css?family=Sanchez);
.date-time-container {
    // REMOVE WHEN FINISHING LAYOUT STYLES
    border: 1px solid black;
    display: flex; 
    flex-direction: column;
    width: 100%;
    
    .time-container {
        .time {
            font-family: Montserrat;
            font-size: 48px;
            line-height: 59px;
            font-weight: 500;
            color: #2DBDB1;
        }
        
        .am-pm {
            font-family: Montserrat;
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
            color: #2DBDB1;
        }
    }
    
    .date { 
        color: #4B5853;
        font-family: Sanchez;
        font-size: 18px;
        line-height: 23px;
    }
}