<html
<link href="https://fonts.googleapis.com/css?family=Sanchez&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<style>
.background{
  color: red;
}
.time{
  
  color :#2DBDB1;
  font-family: Montserrat;
  /*font-size: 460%;*/

}
span.ending{
  color: #2DBDB1;
  font-family: Montserrat;
  font-size: 30%;
  

}
.date{
  color: #4B5853;
  font-family: Sanchez;
  

}
</style>

<div class = "background">
<div class="time"><h6><b>&nbsp;&nbsp;&nbsp;8:32</b><span class="ending">AM</span></h6></div>
<div class = "date"><p>&nbsp;&nbsp;September 27th, 2018</p></div>
</div>
</html>
