// Ignore this class.  It just adds a border so that you can find your element.

:host {
  border: 1px solid black;
  display: block; 
}

// write your code here!!
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sanchez&display=swap');

.time-label {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  text-align: right;
  color: #2DBDB1;
  position: absolute;
  right: 4%;
  top: 17%;
}
.am-label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #2DBDB1;
  position: absolute;
  top: 21%;
  right: 2.5%
}
.date-label {
  font-family: Sanchez;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #4B5853;
  position: absolute;
  right: 2.2%;
  top: 24%;
}
.rectangle {
  width: 198px;
  height: 98px;
  background:#F6FDFA;
}