<div class="text">
<p>8:23 </p>
</div>

<div class="AM">
<p>AM </p>
</div>

<div class="date">
  <p> September 27th, 2018</p>
  </div>

<style>
.text{
  position: absolute;
left: 23.68%;
right: 10%;
top: 10%;
bottom: 32%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 59px;
text-align: right;

color: #2DBDB1;
}

.date{
position: relative;
font-family: Sanchez;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: right;
left: -10%;
right: 1%;
top: 50%;
bottom: 20%; 

color: #4B5853;
}

.AM{
  position: absolute;
left: 50%;
right: 7%;
top: 20%;
bottom: 38.67%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
text-align: right;

color: #2DBDB1;
}
</style>
