:host {
  // REMOVE WHEN FINISHING LAYOUT STYLES
  // IGNORE THIS CODE
  border: 1px solid black;
}

.title {
  color: #2DBDB1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.subtitle {
  color: #4B5853;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.goto-button {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.tag {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  &.red {

  }

  &.teal {

  }

  &.orange {

  }
}

.output {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  .number {
    font-size: 24px;
    line-height: 29px;
  }

  &.red {
    color:#EE8B72;
  }

  &.teal {
    color:#2DBDB1;
  }

  &.orange {
    color:#FBAA70;
  }
}

.next-button{
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.back-button{
  color:#2DBDB1;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
