:host {
  // REMOVE WHEN FINISHING LAYOUT STYLES
  // IGNORE THIS CODE
  border: 1px solid black;
}

.title {
  color: #2DBDB1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.subtitle {
  color: #4B5853;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.goto-button {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 210px;
  height: 34px;
  background-color:#2DBDB1;
  border-radius: 10px;
}

.linebreak {
  width: 0px;
  height: 280px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.tag {
  color: #FFFFFF;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 126px;
  height: 40px;
  border-radius: 10px;

  &.red {
    background-color: #EE8B72;
  }

  &.teal {
    background-color: #2DBDB1;
  }

  &.orange {
    background-color: #FFB987;
  }
}

.output {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  .number {
    font-size: 24px;
    line-height: 29px;
  }

  &.red {
    color:#EE8B72;
  }

  &.teal {
    color:#2DBDB1;
  }

  &.orange {
    color:#FBAA70;
  }
}

.next-button{
  color: #FFFFFF;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 84px;
  height: 34px;
  background-color: #2DBDB1;
  border-radius: 10px;
}

.back-button{
  color:#2DBDB1;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 84px;
  height: 34px;
  border: 1px solid #2DBDB1;
  border-radius: 10px;
}
