<div class="title">Start scheduling</div>
<div class="subtitle">Plan with Google Calendar</div>
<div class="goto-button">Go to calendar</div>
<div class="title">The breakdown</div>
<div class="subtitle">Your week so far</div>
<div class="tag red">#interview</div>
<div class="output red">3 HRS scheduled</div> 
<div class="tag teal">#apply</div>
<div class="output teal">2 HRS scheduled</div>
<div class="tag orange">#coverletter</div>
<div class="output orange">You haven't scheduled any time yet.</div>
<div class="back-button">Back</div>
<div class="next-button">Next</div>