

  <div class="progress-bar-container">
  <div class= "Longterm"> LONG TERM GOALS </div>
  <div class= "Quarter"> QUARTER GOALS </div>
  <div class= "weekly"> WEEKLY GOALS </div>
  <div class="organize"> ORGANIZE </div>
  <div class="schedule"> SCHEDULE </div>
  <div class="circle1"></div>
  <div class= "line1"></div>
  <div class="circle2"></div>
  <div class= "line2"></div>
  <div class="circle3"></div>
  <div class= "line3"></div>
  <div class="circle4"></div>
  <div class= "line4"></div>
  <div class="circle5"></div>
</div>
