/* Progress Bar */
.progress-bar-container {
position: relative;
width: 1034px;
height: 123px;

background: #FFFFFF;
}

/* Group */
.group{
position: absolute;
width: 951px;
height: 56px;
left: 42px;
top: 33px;
}


.circle {
  width: 26px;
  height: 26px;
  border-radius: 100%;
}

/* Ellipse */
.ellipse-LTG{
  position: absolute;
  width: 26px;
  height: 26px;
  left: 103px;
  top: 62px;  
  background: #2DBDB1;
}

/* Ellipse */
.ellipse-QG{
position: absolute;
width: 26px;
height: 26px;
left: 914px;
top: 63px;

border: 2px solid #D3E1DA;
box-sizing: border-box;
}

/* Ellipse */
.ellipse-WG{
position: absolute;
width: 26px;
height: 26px;
left: 509px;
top: 63px;

border: 2px solid #2DBDB1;
box-sizing: border-box;
}

/* Ellipse */
.ellipse-ORG{
position: absolute;
width: 26px;
height: 26px;
left: 712px;
top: 63px;

border: 2px solid #D3E1DA;
box-sizing: border-box;
}

/* Ellipse */
.ellipse-SCHED{
position: absolute;
width: 26px;
height: 26px;
left: 306px;
top: 62px;

background: #2DBDB1;
}

/* Line */
.line-1{
position: absolute;
width: 177px;
height: 0px;
left: 129px;
top: 75px;

border: 2px solid #2DBDB1;
}

/* Line */
.line-2{
position: absolute;
width: 177px;
height: 0px;
left: 332px;
top: 76px;
}

/* Line */
.line-3{
position: absolute;
width: 177px;
height: 0px;
left: 535px;
top: 76px;
}


/* Line */
.line-4{
position: absolute;
width: 177px;
height: 0px;
left: 738px;
top: 76px;

border: 2px solid #D3E1DA;
}

/* LONG TERM GOALS */
.long-term-goals{
position: absolute;
width: 207px;
height: 15px;
left: 50px;
top: 33px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #2DBDB1;
}


/* QUARTER GOALS */
.quarter-goals{
position: absolute;
width: 132px;
height: 15px;
left: 253px;
top: 33px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

color: #2DBDB1;
}


/* WEEKLY GOALS */
.weekly-goals{
position: absolute;
width: 132px;
height: 15px;
left: 456px;
top: 33px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #2DBDB1;
}


/* ORGANIZE */
.organize{
position: absolute;
width: 132px;
height: 15px;
left: 659px;
top: 33px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #98B3A9;
}


/* SCHEDULE */
.schedule{
position: absolute;
width: 132px;
height: 15px;
left: 861px;
top: 33px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #98B3A9;

}
.timeline{
  position: absolute;
  left: 103px;
  top: 62px;
}
