<div class = 'longterm'>
LONG TERM GOALS
</div>

<div class = 'quarter'>
QUARTER GOALS
</div>

<div class = 'weekly'>
WEEKLY GOALS
</div>

<div class = 'organize'>
ORGANIZE
</div>

<div class = 'schedule'>
SCHEDULE
</div>


<svg width="1034" height="123" viewBox="0 0 1034 123" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0H1034V123H0V0Z" fill="white"/>
<circle cx="116" cy="75" r="13" fill="#2DBDB1"/>
<circle cx="927" cy="76" r="12" stroke="#D3E1DA" stroke-width="2"/>
<circle cx="522" cy="76" r="12" stroke="#2DBDB1" stroke-width="2"/>
<circle cx="725" cy="76" r="12" stroke="#D3E1DA" stroke-width="2"/>
<circle cx="319" cy="75" r="13" fill="#2DBDB1"/>
<line x1="129" y1="74" x2="306" y2="74" stroke="#2DBDB1" stroke-width="2"/>
<line x1="332" y1="75" x2="509" y2="75" stroke="url(#paint0_linear)" stroke-width="2"/>
<line x1="535" y1="75" x2="712" y2="75" stroke="url(#paint1_linear)" stroke-width="2"/>
<line x1="738" y1="75" x2="915" y2="75" stroke="#D3E1DA" stroke-width="2"/>

<defs>
<linearGradient id="paint0_linear" x1="509" y1="76" x2="332" y2="76" gradientUnits="userSpaceOnUse">
<stop stop-color="#2DBDB1"/>
<stop offset="1" stop-color="#2DBDB1"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="535" y1="76" x2="712" y2="76" gradientUnits="userSpaceOnUse">
<stop stop-color="#2DBDB1"/>
<stop offset="1" stop-color="#D3E1DA"/>
</linearGradient>
</defs>
</svg>



