<div class="progress-bar-container">
  <div class="header">
    <div class="long-term-goals">LONG TERM GOALS</div>
    <div class="quarter-goals">QUARTER GOALS</div>
    <div class="weekly-goals">WEEKLY GOALS</div>
    <div class="organize">ORGANIZE</div>
    <div class="schedule">SCHEDULE</div>
  </div>

  
  <div class="ellipse1">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="13" cy="13" r="13" fill="#2DBDB1"/>
    </svg>

  <div class="ellipse2">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="13" cy="13" r="13" fill="#2DBDB1"/>
    </svg>

  <div class="ellipse3">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="13" cy="13" r="12" stroke="#2DBDB1" stroke-width="2"/>
    </svg>

  <div class="ellipse4">
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="13" cy="13" r="12" stroke="#D3E1DA" stroke-width="2"/>
    </svg>


  <div class="ellipse5"> 
    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="13" cy="13" r="12" stroke="#D3E1DA" stroke-width="2"/>
    </svg>

  <div class="line1">
    <svg width="177" height="2" viewBox="0 0 177 2" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line y1="1" x2="177" y2="1" stroke="#2DBDB1" stroke-width="2"/>
    </svg>

  <div class="line2">
    <svg width="177" height="2" viewBox="0 0 177 2" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line y1="1" x2="177" y2="1" stroke="url(#paint0_linear)" stroke-width="2"/>
    <defs>
    <linearGradient id="paint0_linear" x1="177" y1="2" x2="0" y2="1.99999" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2DBDB1"/>
    <stop offset="1" stop-color="#2DBDB1"/>
    </linearGradient>
    </defs>
    </svg>

  <div class="line3">
    <svg width="177" height="2" viewBox="0 0 177 2" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line y1="1" x2="177" y2="1" stroke="url(#paint0_linear)" stroke-width="2"/>
    <defs>
    <linearGradient id="paint0_linear" x1="0" y1="2" x2="177" y2="2" gradientUnits="userSpaceOnUse">
    <stop stop-color="#2DBDB1"/>
    <stop offset="1" stop-color="#D3E1DA"/>
    </linearGradient>
    </defs>
    </svg>


  <div class="line4">
    <svg width="177" height="2" viewBox="0 0 177 2" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line y1="1" x2="177" y2="1" stroke="#D3E1DA" stroke-width="2"/>
    </svg>

</div>