.new-quarter-container {
  // REMOVE WHEN FINISHING LAYOUT STYLES

  /* New Quarter Component */

position: relative;
width: 419px;
height: 298px;

background: #FFFFFF;


/* New quarter */

position: absolute;
width: 419px;
height: 275px;
left: 0px;
top: 12px;



/* It’s a new quarter! */

position: absolute;
left: 0%;
right: 0%;
top: 45.82%;
bottom: 40%;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #2DBDB1;



/* Time to set some new goals. */

position: absolute;
left: 11.46%;
right: 11.46%;
top: 63.64%;
bottom: 25.09%;

font-family: Sanchez;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
/* identical to box height */

color: #2DBDB1;



/* Call to Action Button */

position: absolute;
left: 32.46%;
right: 32.7%;
top: 83.27%;
bottom: 0%;



/* Rectangle 12 */

position: absolute;
left: 3.57%;
right: 3.57%;
top: 0%;
bottom: 12.77%;

background: #2DBDB1;
border-radius: 20px;


/* Get started */

position: absolute;
left: 0%;
right: 0%;
top: 19.15%;
bottom: 0%;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #FFFFFF;



/* calendar */

position: absolute;
left: 36.52%;
right: 36.52%;
top: 0%;
bottom: 58.91%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 7.81%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 82.81%;
right: 10.94%;
top: 21.88%;
bottom: 75%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 46.88%;
right: 46.88%;
top: 35.94%;
bottom: 60.94%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 46.88%;
right: 46.88%;
top: 43.75%;
bottom: 53.12%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 57.81%;
right: 35.94%;
top: 35.94%;
bottom: 60.94%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 57.81%;
right: 35.94%;
top: 43.75%;
bottom: 53.12%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 35.94%;
right: 57.81%;
top: 35.94%;
bottom: 60.94%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 35.94%;
right: 57.81%;
top: 43.75%;
bottom: 53.12%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 25%;
right: 68.75%;
top: 35.94%;
bottom: 60.94%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 25%;
right: 68.75%;
top: 43.75%;
bottom: 53.12%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 25%;
right: 68.75%;
top: 51.56%;
bottom: 45.31%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 25%;
right: 71.88%;
top: 59.38%;
bottom: 37.5%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 68.75%;
right: 25%;
top: 35.94%;
bottom: 60.94%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 68.75%;
right: 25%;
top: 43.75%;
bottom: 53.12%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 68.75%;
right: 25%;
top: 51.56%;
bottom: 45.31%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 71.88%;
right: 25%;
top: 59.38%;
bottom: 37.5%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 79.69%;
right: 14.06%;
top: 35.94%;
bottom: 60.94%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 79.69%;
right: 14.06%;
top: 43.75%;
bottom: 53.12%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 79.69%;
right: 14.06%;
top: 51.56%;
bottom: 45.31%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 79.69%;
right: 14.06%;
top: 59.38%;
bottom: 37.5%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 79.69%;
right: 14.06%;
top: 67.19%;
bottom: 29.69%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 79.69%;
right: 14.06%;
top: 75%;
bottom: 21.88%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 14.06%;
right: 79.69%;
top: 35.94%;
bottom: 60.94%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 14.06%;
right: 79.69%;
top: 43.75%;
bottom: 53.12%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 14.06%;
right: 79.69%;
top: 51.56%;
bottom: 45.31%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 14.06%;
right: 79.69%;
top: 59.38%;
bottom: 37.5%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 14.06%;
right: 79.69%;
top: 67.19%;
bottom: 29.69%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 14.06%;
right: 79.69%;
top: 75%;
bottom: 21.88%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 26.56%;
right: 26.56%;
top: 53.12%;
bottom: 0%;

background: #2DBDB1;


/* Vector */

position: absolute;
left: 45.31%;
right: 35.94%;
top: 62.5%;
bottom: 18.75%;

background: #2DBDB1;

}