@import url(//fonts.googleapis.com/css?family=Montserrat);
:host {
  // REMOVE WHEN FINISHING LAYOUT STYLES
  // IGNORE THIS CODE
  border: 1px solid black;
}
// WRITE YOUR CODE HERE
* { 
  font-family: Montserrat;
}
.upcoming-card-container {
  padding-top: 26px;
  padding-left: 24px;

  .upcoming-card-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #4B5853; 
    margin-bottom: 16px;
  }

  .today {
    margin-top: 16px;
    
    .today-title{
      font-size: 14px;
      line-height: 17px;
      color: #4B5853;
    }

    .today-event-container {
      border-radius: 5px;
      width: 216px;
      height: 31px;
      display: flex;
      flex-direction: row;
      margin-top: 7px;
      color: #FFFFFF;

      .today-event {
        padding-left: 14px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        align-self: center;
        flex-grow: 1;
      }

      .today-event-time {
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        align-self: center;
        padding-right: 15px;
      }
     }
  }
  .tomorrow {
    margin-top: 16px;
    
    .tomorrow-title{
      font-size: 14px;
      line-height: 17px;
      color: #4B5853;
    }

    .tomorrow-event-container {
      border-radius: 5px;
      width: 216px;
      height: 31px;
      display: flex;
      flex-direction: row;
      margin-top: 7px;

      .tomorrow-event {
        padding-left: 14px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        align-self: center;
        flex-grow: 1;
      }

      .tomorrow-event-time {
        font-size: 14px;
        line-height: 17px;
        text-align: right;
        color: #FFFFFF;
        align-self: center;
        padding-right: 15px;
      }
    }
  }
}
