@import url(//fonts.googleapis.com/css?family=Montserrat);
.upcoming-card-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 265px;
  height: 310px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.25);
  border-radius: 10px;

  .events-title {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 9.06%;
    right: 7.55%;
    top: 8.39%;
    bottom: 83.55%;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    color: #4B5853;
  }

  .dailyEventsContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 9.06%;
    right: 29.43%;
    top: 13%;
    bottom: 72.58%;
  }

  .dayTitle {
    display: flex;
    flex-direction: column;
    position: relative;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #4B5853;
  }

  .dayItems {
    position: relative;
    width: 216px;
    height: 31px;
    border-radius: 5px;
    padding:18px;
  }

  .title {
    position: absolute;
    left: 5%;
    top: 25%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
  }

  .timeStamp {
    position: absolute;
    right: 5%;
    top: 25%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #FFFFFF;
  }
}