<div class= "Header">Upcoming Events </div>
<br>
<div class= "today">TODAY</div>

<svg width="216" height="46" viewBox="0 0 216 46" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="216" height="46" rx="5" fill="url(#paint0_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="-8.64" y1="7.41936" x2="238.7" y2="9.7777" gradientUnits="userSpaceOnUse">
<stop stop-color="#EE8B72"/>
<stop offset="1" stop-color="#FFB987"/>
<text x="60" y="20" font-family="Calibri" font-size="20" fill="white" >My Code , Your Achivement....... </text>

</linearGradient>
</defs>
</svg>

<br>
<div class= "today">TOMORROW</div>
<div class= "SWE">#apply </div>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.rectangle {
  height: 50px;
  width: 100px;
  background-color: #FFFFFF;
}
</style>
</head>
<body>

<div class="rectangle"></div>

</body>
</html> 
