<div class= "long-term-goals-card">
<div class = "header"> Long-term Goals </div>
<div class = "1-year-wrapper">
	<div class="subheader">1 year </div>
    <div class="goal-text">Secure SWE or UX Engineering Internship</div>
   </div>
   <div class="5-year-wrapper">
    <div class="subheader">5 year </div>
    <div class="goal-text>SWE with UX/Design/Animation oriented work</div>
    </div>
    <svg width="26" height ="26" viewBow=0 0 26 26" fill="none" xmlns="http:///www.w3.org/2000/svg">