// Ignore this class.  It just adds a border so that you can find your element.
:host {
  border: 1px solid black;
  display: block;
}

// write your code here!!
@import url(//fonts.googleapis.com/css?family=Montserrat);
*{
  font-family:Montserrat;
}
.goal-text{
  color:#4B5853;
  font-weight: 500;
  font-size: 16px;
}

.Header{
  color: #EE8B72;
  font-weight: 600;
  font-size: 22px;
}

.subheader{
  color: #EE8B72;
  font-weight: 600;
  font-size: 18px;
}