// Ignore this class.  It just adds a border so that you can find your element.
:host {
  border: 1px solid black;
  display: block;
}

// write your code here!!

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.Long{
  Font Family: Montserrat;
  Font Style: SemiBold;
  Font Size: 22px;
  Line Height: 26.82px;
  Line Height: 100%;
  Align: Left;
  Vertical: Top;
  Color: #EE8B72;
}

.Goal{
  Font Family: Montserrat;
  Font Style: SemiBold;
  Font Size: 18px;
  Line Height: 21.94px;
  Line Height: 100%;
  Align: Left;
  Vertical: Top;
  Color: #EE8B72;
}

.Objective{
  Font Family: Montserrat;
  Font Style: Medium;
  Font Size: 16px;
  Line Height: 19.5px;
  Line Height: 100%;
  Align: Left;
  Vertical: Top;
  Color: #4B5853;
}

