// Ignore this class.  It just adds a border so that you can find your element.

:host {
  border: 1px solid black;
  display: block;
}

// write your code here!!

.hello {
  font-family: Montserrat;
  font-style: bold;
  font-weight: 500;
  font-size: 36px;
  height: 86;
  width: 500px;
  line-height: 44px;
  color: #4B5853;
  background-color: #F6FDFA;
}