@import url( 'https://fonts.googleapis.com/css?family=Montserrat' );

* { font-family: Montserrat;
}

.weeklyProgressCard {
  position: relative;
  width: 265px;
  height: 310px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #D3E1DA;
  background-color: #FFFFFF;
}

.mainHeader {
  position: absolute;
  left: 7.55%;
  right: 9.06%;
  top: 7.1%;
  bottom: 84.84%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #4B5853;
}

.firstSubheader {
  position: absolute;
  width: 113px;
  height: 63px;
  left: 18px;
  top: 68px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #EE8B72;
}

.secondSubheader {
  position: absolute;
  width: 113px;
  height: 17px;
  left: 20px;
  top: 140px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #2DBDB1;
}

.thirdSubheader {
  position: absolute;
  width: 113px;
  height: 22px;
  left: 20px;
  top: 206px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFB987;
}

.fourthHour {
  position: absolute;
  width: 45px;
  height: 24px;
  left: 196px;
  top: 95px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #EE8B72;
}

.thirdHour {
  position: absolute;
  width: 45px;
  height: 24px;
  left: 165px;
  top: 165px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2DBDB1;
}

.secondHour {
  position: absolute;
  width: 45px;
  height: 24px;
  left: 143px;
  top: 234px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFB987;
}

.bigRectangle1 {
  position: absolute;
  width: 75px;
  height: 30px;
  left: 20px;
  top: 90px;
  background: #EE8B72;
  border-radius: 3px 0px 0px 3px;
}

.smallRectangle1 {
  position: absolute;
  width: 168px;
  height: 30px;
  left: 20px;
  top: 90px;
  background: rgba( 238 , 139 , 114 , 0.3 );
  border-radius: 3px;
}

.bigRectangle2 {
  position: absolute;
  width: 101px;
  height: 30px;
  left: 20px;
  top: 159px;
  background: #2DBDB1;
  border-radius: 3px 0px 0px 3px;
}

.smallRectangle2 {
  position: absolute;
  width: 136px;
  height: 30px;
  left: 20px;
  top: 159px;
  background: rgba( 45 , 189 , 177 , 0.3 );
  border-radius: 3px;
}

.bigRectangle3 {
  position: absolute;
  width: 70px;
  height: 30px;
  left: 20px;
  top: 228px;
  background: #FFB987;
  border-radius: 3px 0px 0px 3px;
}

.smallRectangle3{
  position: absolute;
  width: 112px;
  height: 30px;
  left: 20px;
  top: 228px;
  background: rgba( 255 , 185 , 135 , 0.3 );
  border-radius: 3px;
}