@import url(//fonts.googleapis.com/css?family=Montserrat);
* {
  background: #FFFFFF;
  font-family: Montserrat;
}

.week-card{
  border: 1px solid black;
  border-radius: 10px;
  width: 265px;
  height: 310px;
}

.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #4B5853;
  margin-left: 20px;
  margin-top: 22px;
  margin-bottom: 21px;
}

.item{
  margin-left: 20px;
  margin-bottom: 20px;
}

.hr{
  font-size: 9px;
  margin-left: 2px;
}

.top-hashtag {
  color: #EE8B72;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 3px;
}

.bar{
  display: flex;
  box-flex: row;
}

.bold-top-progress-bar {
  background: #EE8B72;
  border-radius: 3px 0px 0px 3px;
  width: 75px;
  height: 27px;
}

.light-top-progress-bar {
  width: 93px;
  height: 27px;
  background: rgba(238, 139, 114, 0.3);
  border-radius: 3px;
}

.top-hour {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #EE8B72;
  margin-left: 9px;
  padding-top: 6px;
}

.middle-hashtag {
  color: #2DBDB1;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 3px;
}

.bold-middle-progress-bar {
  background: #2DBDB1;
  border-radius: 3px 0px 0px 3px;
  width: 101px;
  height: 27px;
}

.light-middle-progress-bar {
  color: #2DBDB1;
  width: 35px;
  height: 27px;
  background: rgba(45, 189, 177, 0.3);
  border-radius: 3px;
}

.middle-hour {
  color: #2DBDB1;
  width: 45px;
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-left: 9px;
  padding-top: 6px;
}

.bottom-hashtag {
  color: #FFB987;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 3px;
}

.bold-bottom-progress-bar {
  background: #FFB987;
  border-radius: 3px 0px 0px 3px;
  width: 70px;
  height: 27px;
}

.light-bottom-progress-bar {
  background: rgba(255, 185, 135, 0.3);
  border-radius: 3px;
  width: 42px;
  height: 27px;
}

.bottom-hour {
  color: #FFB987;
  width: 45px;
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-left: 9px;
  padding-top: 6px;
}

