@import url(//fonts.googleapis.com/css?family=Montserrat);
.week-progress-card-container {
    border-radius: 3%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .week-progress-card-title {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 22px;
        color: #4B5853;
    }
    .hastag1 {
        font-family: Montserrat;
        font-size: 14px;
        color: #EE8B72;
    }
    .progress-bar1 {
        display: flex;
        flex-direction: row;
        .part1 {
            width: 75px;
            height: 27px;
            background: #EE8B72 // border-radius: 3px;
        }
        .part2 {
            width: 93px;
            height: 27px;
            background: rgba(238, 139, 114, 0.3);
        }
    }
    .duration1 {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        color: #EE8B72;
    }
    .hastag2 {
        font-family: Montserrat;
        font-size: 14px;
        color: #2DBDB1;
    }
    .progress-bar2 {
        display: flex;
        flex-direction: row;
        .part1 {
            width: 101px;
            height: 27px;
            background: #2DBDB1;
        }
        .part2 {
            width: 35px;
            height: 27px;
            background: rgba(45, 189, 177, 0.3);
        }
    }
    .duration2 {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        color: #2DBDB1;
    }
    .hastag3 {
        font-family: Montserrat;
        font-size: 14px;
        color: #FFB987;
    }
    .progress-bar3 {
        display: flex;
        flex-direction: row;
        .part1 {
            width: 70px;
            height: 27px;
            background: #FFB987; // border-radius: 3px;
        }
        .part2 {
            width: 42px;
            height: 27px;
            background: rgba(255, 185, 135, 0.3);
        }
    }
    .duration3 {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 14px;
        color: #FFB987;
    }
}