<div class="container">
  <div class="title">This Week's Plans</div>

  <div class="interview">#interview</div>
  <div class="itemContainer">
    <div class="barContainer">
      <div class="bar1"></div>
      <div class="bar1z"></div>
    </div>
    <div class="hour1">4 hrs</div>
  </div>
  <div class="coverletter">#coverletter</div>
  <div class="itemContainer">
    <div class="barContainer">
      <div class="bar2"></div>
      <div class="bar2z"></div>
    </div>
    <div class="hour2">3 hrs</div>
  </div>


  <div class="internapps">#internapps</div>
  <div class="itemContainer">
    <div class="barContainer">
      <div class="bar3"></div>
      <div class="bar3z"></div>
    </div>
    <div class="hour3">2 hrs</div>
  </div>
</div>