<div class="ObstacleCardBG">

	<div class="wrapper">

		<div class="title"><b>This Week's Plans</b></div>


    <div class="hashInt">#interview</div>
    <div class="container">
      <div class="lightintbar">
        <div class="darkintbar"></div>

      </div>

      <div class="inthour">4 HRS</div>
    </div>
    <!-- ------------------------ -->

    <div class="hashCov">#coverletter</div>
    <div class="container">
      <div class="lightcovbar">
        <div class="darkcovbar"></div>
      </div>

      <div class="covhour">3 HRS</div>
    </div>
    <!-- ------------------------ -->

    <div class="hashIntern">#internapps</div>
    <div class="container">
      <div class="lightinternbar">
        <div class="darkinternbar"></div>
      </div>

      <div class="internhour">2 HRS</div>
    </div>
  </div>
</div>