
.reflections-card-container {
 
  //  position: absolute;
  //     left: 7.55%;
  //     right: 24.15%;
  //     top: 5.48%;
  //     bottom: 84.84%;
  // REMOVE WHEN FINISHING LAYOUT STYLES
  // border: 1px solid black;
  background-color: white;


  .reflections{
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100,600&display=swap');
      // position: relative;
      // left: 7.55%;
      // right: 24.15%;
      // top: 5.48%;
      // bottom: 84.84%;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 5px;
      /* identical to box height */


      color: #EE8B72;

  }

.deeper{
    
// left: 7.55%;
// right: 20.38%;
// top: 16.13%;
// bottom: 72.26%;

font-family: 'Montserrat';
font-style: inherit;
// font-weight:normal !important;
font-size: 18px;
line-height: 22px;

color: #EE8B72;


  }

  .paper{
  // position: absolute;
  margin-left: 20%;
// left: 30.94%;
// right: 37.91%;
// top: 34.52%;
// bottom: 31.61%;

// background: #EE8B72;

  }

  .pen{
    margin-bottom: 7%;
    margin-left: -25%;

// position: absolute;
// left: 37.46%;
// right: 30.57%;
// top: 39.39%;
// bottom: 37.42%;

  }


}